<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Step counter sensor does not require a runtime permission.
         ACTIVITY_RECOGNITION permission is required on API 29+ to access step counter sensor data. -->
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-feature android:name="android.hardware.sensor.stepcounter" android:required="false" />
</manifest>
